<!DOCTYPE html>
<html>
  <head>
    <title>Todo Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello class</h1>
    <p>Welcome to Kodex</p>
  </body>
</html>
