<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="users/login" method="post">
      <h1>User Login</h1>

      <input type="email" name="email" id="" placeholder="Email Address" />
      <br />
      <input type="text" name="password" id="" placeholder="Password" />
      <br />
      <button type="submit">Login</button>
      <p>Not Registered Yet? <a href="/register">Register</a></p>
    </form>
  </body>
</html>